* {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    background-color: #111111;
    /* overflow-x: hidden; */
}

@font-face {
    font-family: 'Mako';
    src: url(../assets/mako_font/Mako-Regular.ttf) format('woff2');
    font-weight: lighter;
    font-style: normal;
}

.custom-font {
    font-family: 'Mako', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: 0vh 5vh;
    border: 2px solid #111111;
    box-shadow: 0.5vh 0.5vh 1vh 0.5vh #111111;
    z-index: 2;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 17vw;
}

.navbar_content {
    display: flex;
    position: relative;
    margin-left: 0;
}

.navbar_content a {
    font-family: 'Mako';
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-right: 2vw;
    transition: color 0.3s ease;
}

/* .moto_bg{
    height: 100%;
} */

.content:hover {
    color: #FDA403;
    text-decoration: underline;
}

.bg_1 img {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
}

.moto_container {
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    transform: translateY(45%);
    /* margin-left: 50vh; */
}

.ulti {
    color: #FDA403;
}

.moto_container p {
    position: relative;
    color: white;
    font-size: 4vw;
    font-style: normal;
    font-family: 'Mako';
    margin-top: 0;
    margin-bottom: 0;
    animation: text_ani 1s ease-in-out;
    z-index: -1;
}

.moto_container img {
    position: relative;
    width: 25vw;
    z-index: -2;
    animation: text_ani 1s ease-in-out;
}

@keyframes text_ani {
    from {
        opacity: 0%;
        top: -100px;
        transition: all 1000ms;
    }
    to {
        top: 0px;
        opacity: 100%;
        transform: all 1000ms;
    }
}

/* Carousel */
.cr-text p{
    color: white;
    font-family: 'Mako';
    font-style: normal;
    font-size: 3.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0;
}

.desc{
    color: white;
    font-family: 'Mako';
    font-style: normal;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 28%; */
    margin-right: 0;
    margin-bottom: 1vh;
}

.highlight-cr{
    color: #FDA403;
}

.carousel {
    position: relative;
    margin-top: 80%;
}

.crimg{
    display: none;
}

img.display-image {
    width: 100%;
    display: block;
}

.carousel button{
    position: absolute;
    top: 60%;
    width: 5%;
    transform: translateY(-50%);
    /* font-size: 1vw; */
    padding: 5px 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.carousel button img{
    width: 100%;
}

.carousel button:hover{
    background-color: rgba(0, 0, 0, 0.279);
}

.next{
    right: 0;
}

.prev{
    left: 0;
}

.crimg{
    animation-name: Fade;
    animation-duration: 1.5s;
}

@keyframes Fade{
    from {opacity: 0;}
    to{opacity: 1;}
}








/*Promo Banner*/
.promo{
    position: relative;
    margin-top: 25%;
}

.promo p{
    color: white;
    font-family: 'Mako';
    font-style: normal;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30%; */
    margin-right: 0;
    margin-bottom: 1vh;
}

.promo-highlight{
    color: #FDA403;
}

.promo img {
    width: 100%;
    z-index: -1;
}



/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    border-top: solid 2px #fff;
    padding-top: 3vw;
    margin-top: 35vw;
    background-color: #111111;
}

.logo-footer img{
    padding-left: 3vw;
    width: 25%;
}

.footer p{
    color: white;
    font-family: "Mako";
    font-size: 1.25vw;
    padding-left: 6.5vw;
}

.footer-content {
    display: flex;
    margin-top: 3vh;
    margin-left: 6.5vw;
    margin-bottom: 1vw;
}

.footer-content img{
    width: 2.5vw;
    margin-right: 3vw;
    transition: all 0.5s ease;
}

.footer-content img:hover{
    transform: scale(1.10);
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-left a{
    color: white;
    text-decoration: none;
    font-family: "Mako";
    font-size: 1vw;
    padding-left: 35vw;
    font-style: normal;
    font-size: 3.75vw;
}

.footer-line{
    border-top: solid 2px #fff;
    border-color: white;
    width: 86vw;
    margin: 0 auto;
    margin-top: 1.5vw;
}

.footer-content2{
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.footer-content2 p{
    font-size: 1vw;
    padding-right: 8vw;
    padding-left: 6.5vw;
}




@media only screen and (max-width: 768px) {
    .navbar{
        /* margin-right: 10vw; */
        justify-content: center;
        flex-direction: column;
        padding-bottom: 2vw;
    }

    .navbar_logo img {
        width: 30%;
        margin-left: 30vw;
        /* padding-left: 25vw; */
    }

    .navbar_content a {
        font-size: 2.5vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .moto_container p {
        font-size: 5.75vw;
    }

    .moto_container {
        margin-left: 55.5%;
        transform: translateY(80%);
        /* margin-left: 50vh; */
    }

    .moto_container img{
        width: 38vw;
    }

    .cr-text p{
        font-size: 6vw;
    }

    .desc{
        font-size: 4vw;
    }

    .carousel button{
        width: 10%;
        top: 65%;
    }
    
    .promo p{
        font-size: 7vw;
    }

    .logo-footer{
        padding-left: 30vw;
    }

    .logo-footer img{
        width: 30vw;
    }

    .master p{
        padding-left: 30vw;
        font-size: 2vw;
    }

    .footer-content{
        margin-left: 30vw;
    }

    .footer-content img{
        width: 4vw;
        margin-right: 5vw;
    }

    .footer-content2 p{
        font-size: 1.5vw;
        
    }
}
